{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.2.2-dist/css/bootstrap.css' %}">
</head>
<body>
<h1>用户列表</h1>
<br>
<br>

<label>
    <input type="text" class="btn btn-primary" value="新建"/>
</label>
<br>
<br>
<img src="{% static 'img/01.jpg' %}" alt="">

<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-5.2.2-dist/js/bootstrap.js' %}"></script>
</body>
</html>